<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/homepage.css" />
    <title>Timeline</title>
  </head>
  <body>
    <div class="container">
      <div class="left-half">
        <div class="logo">
          <img src="/memoria_logo.png" alt="" />
        </div>
      </div>
      <div class="right-half">
        <div class="small-logo">
          <img src="/memoria_logo.png" alt="" />
        </div>
        <div class="text">Get Started</div>
        <div class="buttonArea">
          <button onclick="window.location.href='/signup'" class="btn">Sign up</button>
          <button onclick="window.location.href='/login'" class="btn">Log in</button>
        </div>
      </div>
    </div>
  </body>
</html>
