<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/login.css" />
    <title>login-Timeline</title>
  </head>
  <body>
    <div class="container">
      <div class="left-half">
        <div class="logo">
          <img src="/memoria_logo.png" alt="" />
        </div>
      </div>
      <div class="right-half">
        <div class="small-logo">
          <img src="/memoria_logo.png" alt="" />
        </div>
        <div class="login-container">
          <form action="/login" method="post">
            <input type="text" name="email" placeholder="email" class="email" />
            <input type="password" name="password" placeholder="password" class="password" />
            <button type="submit" class="login-btn">login</button>
          </form>
          <% if(messages.error) { %>
          <p class="message"><%= messages.error %></p>
          <% } %>
          <div class="signup-container">
            <p>new user?</p>
            <button onclick="window.location.href='/signup'" class="signup-btn">Signup</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
