<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no"  />
    <link rel="stylesheet" href="/signup.css">
    <title>Signup-Timeline</title>
  </head>
  <body>
    <div class="logo">
      <img src="/logo.png" alt="">
    </div>
    <div class="container">
      <form action="/signup" method="post" enctype="multipart/form-data" class="signup-container">
        <input type="text" name="name" placeholder="name" class="name" />
        <input type="text" name="email" placeholder="email" class="email"/>
        <input type="password" name="password" placeholder="password" class="password"/>
        <input type="file" name="image" id="picture" accept="image/*" class="picture">
        <button type="submit" class="signup-btn">signup</button>
      </form>
      <button onclick="window.location.href='/login'" class="login-btn">login</button>
    </div>
  </body>
</html>
