* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Background color for the body */
}

.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50%;
  position: absolute;
}

.logo img{
  height: 60px;
  top: 50%;
  position: relative;
}

.buttonArea {
    position: absolute;
    bottom: 0;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 50%;
    justify-content: center;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 20px;
  background-color: coral;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
  border-radius: 20px;
}

/* .btn:nth-child(1) {
  margin-bottom: 10px; /* Add spacing between buttons 
} */
