* {
  padding: 0;
  margin: 0;
}

:root {
  --primary: #01f4f4;
  --secondary-light: #b4eefe;
  --accent: #839556;
  --secondary-dark: #013b4b;
  --secondary-blue-dark: #1a282d;
  --secondary-blue-light: #d2e0e5;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

.left-half {
  /* background-color: #f1f7fe; */
  background-color: white;
  width: 60%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.logo img {
  height: 15pc;
}

.right-half {
  width: 40%;
  background-color: #343a70;
  /* background-color: var(--secondary-blue-dark); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* background-color: #3e4684; */

.login-container {
  display: flex;
  flex-direction: column;
  background: #dde5f4;
  /* background-color: var(--secondary-light); */
  border-radius: 10px;
  width: 50%;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.email {
  outline: none;
  border: none;
  color: black;
  font-size: 15px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.password {
  outline: none;
  border: none;
  color: black;
  font-size: 15px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.signup-container {
  margin: 13px;
  display: flex;
  align-items: center;
}

.signup-container p {
  color: #5e5e5e;
  font-size: 13px;
}

.signup-container button {
  border: none;
  outline: none;
  margin: 0 5px;
  font-size: 14px;
  background: none;
  color: #5e5e5e;
  border-bottom: solid #5e5e5e;
}

.signup-container button:hover {
  cursor: pointer;
}

.login-btn {
  background-color: #3e4684;
  /* background-color: var(--secondary-blue-light); */
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-weight: 900;
  font-size: 12px;
  color: white;
  margin: 0 10px;
}

.login-btn:hover {
  cursor: pointer;
}

.message {
  color: red;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
