* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

.left-half {
  background-color: #f1f7fe;
  width: 60%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.logo img {
  height: 15pc;
}

.right-half {
  width: 40%;
  background-color: #343a70;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.signup-container {
  display: flex;
  flex-direction: column;
  background: #dde5f4;
  border-radius: 10px;
  width: 50%;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container-form {
  display: flex;
  flex-direction: column;
  background: #dde5f4;
  border-radius: 10px;
  width: 80%;
}

.name {
  outline: none;
  border: none;
  color: black;
  font-size: 15px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.email {
  outline: none;
  border: none;
  color: black;
  font-size: 15px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.password {
  outline: none;
  border: none;
  color: black;
  font-size: 15px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.picture {
  color: #5e5e5e;
  margin: 10px;
}

.picture::file-selector-button {
  outline: none;
  border: none;
  color: white;
  font-size: 12px;
  padding: 10px;
  background-color: #5864ba;
  border-radius: 10px;
}

.picture:hover {
  cursor: pointer;
}

.picture::file-selector-button:hover {
  cursor: pointer;
}

.login-container {
  margin: 13px;
  display: flex;
  align-items: center;
}

.login-container p {
  color: #5e5e5e;
  font-size: 13px;
}

.login-container button {
  border: none;
  outline: none;
  margin: 0 5px;
  font-size: 14px;
  background: none;
  color: #5e5e5e;
  border-bottom: solid #5e5e5e;
}

.login-container button:hover {
  cursor: pointer;
}

.signup-btn {
  background-color: #3e4684;
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-weight: 900;
  font-size: 12px;
  color: white;
  margin: 0 10px;
}

.signup-btn:hover {
  cursor: pointer;
}

.message {
  color: red;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}
