* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.timelineForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timelineHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  display: flex;
  position: relative;
}

.images {
  position: absolute;
}

/* .event::before .images {
  display: block;
} */

.event-container {
  border-left: 0.5px solid gray;
  padding: 0 30px;
  margin-left: 20px;
  width: 50%;
}

.wrapper {
  padding: 10px;
  background: antiquewhite;
  border-radius: 20px;
  /* width: 100%; */
  width: 500px;
  position: relative;
  margin-bottom: 20px;
}

.last-event .event-container {
  border-left: none;
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

.deleteBtn {
  position: absolute;
  right: 20px;
  top: 50%;
  /* transform: translate(-10%, -50%); */
}
