* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
}

.timelineForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timelineHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  padding: 20px 0;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

.members img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.event {
  display: flex;
  position: relative;
}

/* .event::before .images {
  display: block;
} */

.event-container {
  border-left: 0.5px solid gray;
  padding: 0 30px;
  margin-left: 20px;
  width: 50%;
}

.wrapper {
  padding: 10px;
  /* background: antiquewhite; */
  border-radius: 2px;
  /* width: 100%; */
  width: 500px;
  position: relative;
  margin-bottom: 20px;
  border: 0.5px solid;
}

.headingAndDelete {
  display: flex;
  justify-content: space-between;
}

.wrapperHeading {
  display: flex;
  align-items: baseline;
}

.eventTitle {
  font-size: 25px;
  font-weight: 900;
}

.eventDate {
  margin-left: 6px;
  color: gray;
}

.last-event .event-container {
  border-left: none;
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

.eventImage {
  width: 100%;
}

.deleteBtn {
  background: none;
  outline: none;
  border: none;
  color: red;
  font-size: 15px;
}
